<div class="layout-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>{{ snav.opened ? 'menu' : 'menu' }}</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/home']">

    </button>
    <h1 class="app-name">gghggh</h1>

    <span class="flex-auto"></span>




    <mat-menu #account="matMenu">
      <button mat-menu-item [routerLink]="['/base/profile']">
        <mat-icon>account_balance_wallet</mat-icon>
        <span>Profile</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
    autosize
  >
    <mat-sidenav
      class="sidenav"
      #snav
      [opened]="!mobileQuery.matches"
      (mouseover)="!isPinned ? (isCompact = false) : null"
      (mouseleave)="!isPinned ? (isCompact = true) : null"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [@openCloseSidenav]="toggleSidebarAnimation()"
      [fixedInViewport]="mobileQuery.matches"
      [class.is-compact]="isCompact"
      fixedTopGap="56"
    >
      <mat-nav-list class="items" >
        <button class="new-btn">
          <span class="icon"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="36"
              height="36"
              viewBox="0 0 36 36"
            >
              <path fill="#34A853" d="M16 16v14h4V20z" />
              <path fill="#4285F4" d="M30 16H20l-4 4h14z" />
              <path fill="#FBBC05" d="M6 16v4h10l4-4z" />
              <path fill="#EA4335" d="M20 16V6h-4v14z" />
              <path fill="none" d="M0 0h36v36H0z" />
            </svg>
          </span>

          <span class="name truncate" *ngIf="!isCompact">Submit Paper</span>
        </button>
        <ng-container *ngFor="let navItem of navItems">
          <mat-list-item
            class="item"
            [routerLink]="navItem.route"
            routerLinkActive="active"
            matRipple
            [matRippleDisabled]="true"
          >
            <mat-icon mat-list-icon>{{ navItem.icon }}</mat-icon>
            <div mat-line *ngIf="!isCompact">{{ navItem.name }}</div>
          </mat-list-item>
        </ng-container>

        <div class="bottom">
          <mat-list-item
            matRipple
            [matRippleDisabled]="true"
            (click)="isPinned = !isPinned"
          >
            <mat-icon mat-list-icon>{{
              isCompact ? 'arrow_forward_ios' : isPinned ? 'push_pin' : 'arrow_back_ios'
            }}</mat-icon>
            <div mat-line *ngIf="!isCompact">
              {{ isPinned ? 'Unpin' : 'Pin drawer' }}
            </div>
          </mat-list-item>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content
      [@openCloseSidenavContent]="
        !mobileQuery.matches ? (isCompact ? 'closed' : 'open') : null
      "
    >
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
